.modal {
  background-color: lightsalmon;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  box-shadow: 0 0 50px black;
  border-radius: 50px;
}

.d-none {
  display: none;
}

.modal h2 {
  color: darkslateblue;
  font-size: 40px;
}

.modal button {
  padding: 4px 10px;
  border-radius: 0;
  border: 2px solid white;
  background-color: #fff;
}
